<div class="container">
  <div class="row">
    <div class="card col s12">
      <div class="card-content">
        <div class="card-title">Edit</div>
        <%= form_tag post_path(@post), method: "patch" do %>
          <input type="hidden" name="id" value="<%= @post.id %>">
          <div class="input-field">
            <%= text_area_tag :content, @post.content, class: "materialize-textarea", placeholder: "what do you think?"  %>
          </div>
          <div class="input-field">
            <%= button_tag "Write", class: "btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
